---
---

/* Only the main Sass file needs front matter (the dashes are enough) */

@charset "utf-8";

/*
Solarized light syntax highlighting (base16)
https://ethanschoonover.com/solarized/
*/
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;

/* Define colours */
$primary-color: $base0d !default;
$link-color: $base0d !default;
$background-color: mix($base07, $base00, 50%) !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";  // skin
@import "minimal-mistakes";  // main partials

/* Italic code comments */
.highlight {
  .c, .c1 {
      font-style: italic;
  }
}